body {
    font-family: Arial; 
    margin: 50px; 
    text-align: center;
}
form {
    display: inline-block; 
    text-align: left; 
    background: #eee; 
    padding: 20px; 
    border-radius: 8px;
}
button {
    width: 100%; 
    padding: 10px;
}
main{
    display: flex; 
    justify-content: center; 
    gap: 40px;
}